# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python/

# Virtual Environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Editor/IDE
*.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Flask specific
instance/ # Pasta para configurações e dados específicos da instância (ex: banco de dados SQLite)
.flaskenv # Arquivo de variáveis de ambiente do Flask

# Database
*.db # Para bancos de dados SQLite, como 'app.db' ou 'site.db'
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# Uploads de usuários (se houver)
uploads/

# Arquivos de sistema operacional
.DS_Store # macOS
Thumbs.db # Windows

# Variáveis de ambiente
.env # Se você usar um arquivo .env para variáveis de ambiente